button, #send{

    height: 70px;
    width: 220px;
    border: none;
    color: darken($primary-text-color, 10%);
    background: $orange;
    border-radius: 15px;
    box-shadow: -3px 3px 5px darken($primary-text-color,15%);
    font-size: 1.5rem;
    font-family: $font-stack;
    font-weight: 700;
    margin-right: 20px;

    &:hover{

        transform: scale(.98);
        background: lighten($orange, 10%);

    }

    &:active{

        background: lighten($orange, 25%);
        color: $light-color;
        box-shadow: -1.5px 1.5px 1px darken($primary-text-color,15%);

    }
}

#send{
    width: 100%;
    margin-top: 40px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    width: 100px;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: lighten($orange-trans, 30%); /* Set a background color */
    color: $primary-text-color; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 40px; /* Rounded corners */
  }
  
  #myBtn:hover {
    background-color: lighten($orange-trans, 10%); /* Add a dark-grey background on hover */
  }