button, #send{

    height: 70px;
    width: 220px;
    border: none;
    color: darken($primary-text-color, 10%);
    background: $orange;
    border-radius: 15px;
    box-shadow: -3px 3px 5px darken($primary-text-color,15%);
    font-size: 1.5rem;
    font-family: $font-stack;
    font-weight: 700;
    margin-right: 20px;
    cursor: pointer; 

    &:hover{

        transform: scale(.98);
        background: lighten($orange, 10%);

    }

    &:active{

        background: lighten($orange, 25%);
        color: $light-color;
        box-shadow: -1.5px 1.5px 1px darken($primary-text-color,15%);

    }
}

#send{
    width: 100%;
    margin: 40px 0 0 0;
}

#topBtn {
    display: none; 
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 20px; 
    right: 30px;
    z-index: 2;
    background-color: lighten($orange-trans, 30%);
    color: $primary-text-color;
    padding: 15px; 
    border-radius: 50%; 
}
  
#topBtn:hover {
    background-color: lighten($orange-trans, 10%);
}

@media(max-width:646px){
    button{
        width:30vw;
        font-size:3.5vw;
        height: 12vw;
    }
}