/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, #send {
  height: 70px;
  width: 220px;
  border: none;
  color: #4b4b4b;
  background: rgb(236, 161, 23);
  border-radius: 15px;
  box-shadow: -3px 3px 5px #3e3e3e;
  font-size: 1.5rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
}
button:hover, #send:hover {
  transform: scale(0.98);
  background: #f0b446;
}
button:active, #send:active {
  background: #f6d18d;
  color: rgb(243, 242, 242);
  box-shadow: -1.5px 1.5px 1px #3e3e3e;
}

#send {
  width: 100%;
  margin-top: 40px;
}

#myBtn {
  display: none;
  position: fixed;
  width: 100px;
  bottom: 20px;
  right: 30px;
  z-index: 2;
  background-color: rgba(248, 218, 164, 0.7); /* Set a background color */
  color: rgb(100, 100, 100); /* Text color */
  padding: 15px;
  border-radius: 40px;
}

#myBtn:hover {
  background-color: rgba(240, 180, 70, 0.7);
}

header {
  width: 100%;
  color: rgb(100, 100, 100);
  background-image: linear-gradient(-45deg, rgb(243, 242, 242), #f4c775 100%);
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}
header h2 {
  font-family: "Monoton", cursive;
  font-size: 3rem;
  background: linear-gradient(45deg, red 10%, green, blue 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav {
  width: 80%;
  min-width: 458px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-color: inherit;
}
header ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
header ul .fa-solid {
  font-size: 1rem;
  text-shadow: none;
  margin-right: 5px;
}
header li {
  margin: 0 10px;
  font-size: 1.4rem;
  font-family: "Chakra Petch", sans-serif;
  text-shadow: -1px 1px 1px rgb(100, 100, 100);
}
header a {
  color: rgb(236, 161, 23);
  text-decoration: none;
}
header a:hover {
  color: #a9720e;
}
header a:active {
  color: #f6d18d;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-animation: fadeInAnimation ease 3s;
          animation: fadeInAnimation ease 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#bannerImage {
  height: 400px;
  width: 100%;
  background-image: url("https://www.worryfreeplumbing.com/wp-content/uploads/2020/03/Plumbing-Services-2.jpg");
  background-position: center;
  box-shadow: -20px 3px 10px grey, 20px 3px 10px grey;
  background-color: rgb(236, 161, 23);
  z-index: 1;
  position: relative;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: white;
  text-shadow: -3px 3px #4b4b4b;
  background-color: rgba(236, 161, 23, 0.7);
  padding: 20px 30px;
  border: solid 3px #4b4b4b;
}

section {
  background: rgb(243, 242, 242);
  padding: 2%;
  justify-content: space-around;
}
@media (max-width: 964px) {
  section {
    flex-wrap: wrap;
  }
}

.thirds {
  padding: 50px 1%;
}
@media (max-width: 964px) {
  .thirds {
    padding: 50px 1% 0 1%;
  }
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100, 100, 100);
  line-height: 2rem;
  font-size: 1.2rem;
}

.crop {
  max-height: 200px;
  max-width: 300px;
  overflow: hidden;
  border: solid rgb(236, 161, 23) 5px;
  box-shadow: -1px 3px 8px rgb(100, 100, 100);
}
.crop img {
  width: 400px;
}

b {
  font-weight: 700;
  color: rgb(236, 161, 23);
}

h4 {
  font-family: "Chakra Petch", sans-serif;
  height: 50px;
  font-size: 1.7rem;
  color: rgb(100, 100, 100);
  margin: 25px 0 20px 0;
}

h3 {
  font-family: "Chakra Petch", sans-serif;
  height: 50px;
  font-size: 3.5rem;
  color: rgb(243, 242, 242);
  margin: 30px 0;
}

#about {
  padding: 100px 0 50px 0;
}
#about h2 {
  font-family: "Chakra Petch", sans-serif;
  height: 50px;
  font-size: 4rem;
  text-align: center;
  color: rgb(100, 100, 100);
  margin: 0 0 30px 0;
}

#location {
  background-color: rgb(236, 161, 23);
}

.container {
  background: #fdf7eb;
  border: outset rgb(236, 161, 23) 5px;
  box-shadow: -1px 3px 8px rgb(100, 100, 100);
  padding: 50px;
  width: 85%;
}

.line {
  width: 75%;
  border: rgb(236, 161, 23) solid 1px;
  margin-bottom: 10px;
}

iframe {
  width: 100%;
  height: 100%;
  border: rgb(243, 242, 242) solid 3px;
  margin: 0;
}

.map-container {
  width: 70%;
  height: 500px;
  border: inset gray 7px;
  margin-bottom: 50px;
}

form, #user-info > div {
  width: 50%;
}

#right-input {
  padding: 0 0 0 10px;
}

#user-info {
  padding: 50px 0 20px 0;
}

#subject, #user-email {
  height: 40px;
}

label {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  color: #4b4b4b;
  margin-bottom: 10px;
}

#message {
  height: 400px;
}

#user-info, #user-info > div, #user-message, #bannerImage, form, .container, section, .thirds {
  display: flex;
}

#user-info > div, #user-message, form, .container, #location, .thirds {
  flex-direction: column;
}

#bannerImage, .container, .thirds {
  justify-content: center;
}

#user-info {
  justify-content: space-between;
}

#location, #bannerImage, .thirds, .container {
  align-items: center;
}

#bannerImage, p, h3, h4 {
  text-align: center;
}

footer > section {
  background-color: rgb(100, 100, 100);
  height: 200px;
}

footer > section > p {
  color: rgb(243, 242, 242);
}